# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.jpg
DataScience/data/
app/data
# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl


# csv
csv/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage/
test_results/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Sublime Text
*.sublime-workspace

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
mypy.ini
# Pylint
.pylint.d/

# Bandit
.bandit/

# Pyre
.pyre/

# Celery beat schedule files
celerybeat-schedule

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.env
.
